{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH socialdigital #}
{# This page can use any data from http:localhost:2000/cms/#/form/socialdigital/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this socialdigital's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
<div class="header">
    {% block header %}
      {% include "templates/partials/header.html" %}
    {% endblock %}
</div>

<div class="projectcontainer">
      <div id="projectlist">
        {% for row in cms.allprojects.grid %}
          <a id="project" href="/{{ row.link }}">
            <p>
              {{ row.title }}
            </p>
          </a>
        {% endfor %}
      </div>
</div>

<div id="ec2" onclick="window.location.href = '/';">
</div>
<div id="ec3" onclick="window.location.href = '/';">
</div>
<div id="aboutcontainer" >
</div>
<div id="contactcontainer">
</div>

<div id="ec1" style="display:block" onclick="window.location.href = '/';">
</div>

<div id="maincontainer" style="display:block">
<div id="contentcontainer">
    
    <div class="projecttext">
      <div class="projecttitle">
          <h1>
            {{ item.name }}
          </h1>
      </div>

      <div class="projectdescription">
          <p>
            {{ item.description }}
          </p>
      </div>
    </div>

      <div class="video-responsive-vertical col-xs-6">
        <iframe src="https://player.vimeo.com/video/{{ item.vertical_video_one_url }}?byline=0&portrait=0" width="1200" height="2133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      
      <div class="video-responsive-vertical col-xs-6">
        <iframe src="https://player.vimeo.com/video/{{ item.vertical_video_two_url }}?byline=0&portrait=0" width="1200" height="2133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <div class="video-responsive col-xs-12">
        <iframe src="https://player.vimeo.com/video/{{ item.full_width_video_url }}?byline=0&portrait=0" width="1200" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      {% for row in item.repeatable_vertical_carousel %}
          <div class="carousel_container col-xs-12 col-md-6">

          <div class="prev_next">
          </div> 

                {% for image in row.gallery %}
                  <div class="carousel_image col-xs-12"> 
                    <img src="{{ image|imageSize(1200, 1200) }}">
                    <div>{{ image.caption }}</div>
                  </div>
                {% endfor %}
          </div>
      {% endfor %}
      

      <div class="carousel_container col-xs-12">
        <div class="prev_next">
        </div>  
      {% for row in item.video_carousel %}
          <div class="video-responsive-carousel carousel_image col-xs-12"> 
            <iframe src="https://player.vimeo.com/video/{{ row.video_carousel_urls }}?byline=0&portrait=0" width="1200" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
      {% endfor %}
      </div>

      <div class="fadeout">
        <p>MORE<p>
      </div>

</div>
</div>

<style>

@media (max-width: 1024px){
    .projectcontainer{
      display:none;
    }
  }
  
  #projectlist{
    text-align: center;
    z-index: 500;
    
  }

  #projectlist a{
    font-size: 2.2rem;
    line-height:3.5rem;
    padding-right:1.75%;
    position: relative;
    text-decoration: none;
    /*color: #f05058;*/
    color: transparent;  
    text-shadow: 0 0 0 {{ cms.allprojects.projectlist_color_1 }};
  }

    @media (max-width: 768px){
      #projectlist a{
        font-size: 2.5rem;
        line-height:2.75rem;
      }
    }

    @media (min-width: 1650px){
      #projectlist a{
        padding-right:2%;
      }
    }

  #projectlist a:hover{
    right:-10px;

  }

  @media (max-width: 1080px){
      #projectlist a:hover{
          right:0px;
        }
    }

  #projectlist a:nth-child(odd) {
      /*color: #6ec2dc;*/
      color: transparent;  
      text-shadow: 0 0 0 {{ cms.allprojects.projectlist_color_2 }};
  }

  #project p{
    display: inline;
    word-break:break-word;
  }

  #project p:hover{
    background-color: {{ cms.allprojects.hover_color }};
  }

  #project img{
    height:3.2rem;
    float:left;
  }
    @media (max-width: 768px){
      #project img{
        height: 2.7rem;
      }
    }
</style>
{% endblock %}
