{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH socialdigital #}
{# This page can use any data from http:localhost:2000/cms/#/form/socialdigital/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this socialdigital's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <p><a href="{{ url('socialdigital') }}">View a list of all socialdigital</a></p>
  <h1>{{ item.name }}</h1>
  <ul>
      <div class="imagehalf col-xs-6">
        <img src="{{ item.sd_posterleft|imageSize(1200, 1200) }}" />
      </div>
      
      <div class="imagehalf col-xs-6">
        <img src="{{ item.sd_posterright|imageSize(1200, 1200) }}" />
      </div>


        <strong>video: </strong>
        {{ item.video|safe }}
      
      <div class="imagehalf col-xs-6">
        <img src="{{ item.sd_breakleft|imageSize(1200, 1200) }}" />
      </div>

      <div class="imagehalf col-xs-6">
        <img src="{{ item.sd_breakright|imageSize(1200, 1200) }}" />
      </div>
      

      <div class="carousel_container col-xs-12">

                    <div class="prev_next">
                    </div>
          {% for image in item.carousel %}
            <div class="carousel_image col-xs-12"> 
              <img src="{{ image|imageSize(1200, 1200) }}">
              {{ image.caption }}
            </div>
          {% endfor %}
{% endblock %}
