{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH casestudies #}
{# This page can use any data from http:localhost:2000/cms/#/form/casestudies/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this casestudies's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}
<div id="cscontainer" class="maincolor">
  <div class="header">
    {% block header %}
      {% include "templates/partials/header.html" %}
    {% endblock %}
  </div>

    <div class="video-responsive col-xs-12">
        <iframe src="https://player.vimeo.com/video/{{ item.hero_video_url }}?byline=0&portrait=0" width="1200" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

      <div class="projecttitle">
          <h1>
            {{ item.name }}
          </h1>
      </div>

      <div class="projectdescription">
          <p>
            {{ item.description }}
          </p>
      </div>

    <div class="carousel_container col-xs-12">

                  <div class="prev_next">
                  </div>
        {% for image in item.carousel_1 %}
            {# You can get the raw image url by accessing image.url #}
            <div class="carousel_image col-xs-12"> 
            <img src="{{ image|imageSize(1200, 1200) }}">
          </div>
        {% endfor %}
    </div>

    <div class="videogrid clearfix col-xs-12">
        {% for row in item.video_grid %}
            <div class="videogrid-responsive col-xs-6">
              <iframe src="https://player.vimeo.com/video/{{ row.video_url }}?byline=0&portrait=0" width="1200" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        {% endfor %}
    </div>

    <div class="textbreak">
        <p>
          {{ item.social_digital_text_break }}
        </p>
    </div>

    <div class="video-responsive-vertical col-xs-6">
        <iframe src="https://player.vimeo.com/video/{{ item.vertical_video_1_url }}?byline=0&portrait=0" width="1200" height="2133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="video-responsive-vertical col-xs-6">
        <iframe src="https://player.vimeo.com/video/{{ item.vertical_video_2_url }}?byline=0&portrait=0" width="1200" height="2133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="video-responsive col-xs-12">
        <iframe src="https://player.vimeo.com/video/{{ item.full_width_video_url }}?byline=0&portrait=0" width="1200" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    {% for row in item.repeatable_vertical_carousel %}
          <div class="carousel_container col-xs-12 col-md-6">

          <div class="prev_next">
          </div> 

                {% for image in row.gallery %}
                  <div class="carousel_image col-xs-12"> 
                    <img src="{{ image|imageSize(1200, 1200) }}">
                  </div>
                {% endfor %}
          </div>
    {% endfor %}
      
    <div class="carousel_container col-xs-12">
        <div class="prev_next">
        </div>  
      {% for row in item.video_carousel %}
          <div class="video-responsive-carousel carousel_image col-xs-12"> 
            <iframe src="https://player.vimeo.com/video/{{ row.video_carousel_url }}?byline=0&portrait=0" width="1200" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
      {% endfor %}
    </div>

    <div class="textbreak">
        <p>
          {{ item.printpublishing_text_break }}
        </p>
    </div>

    <div class="carousel_container col-xs-12">

                  <div class="prev_next">
                  </div>
        {% for image in item.print_carousel_1 %}
            {# You can get the raw image url by accessing image.url #}
            <div class="carousel_image col-xs-12"> 
            <img src="{{ image|imageSize(1200, 1200) }}">
          </div>
        {% endfor %}
    </div>

        {% for row in item.print_static_images %}
    <div class="postersingle col-xs-6">
        <img src="{{ row.image|imageSize(2000, 2000) }}" />
    </div>
        {% endfor %}

    <div class="carousel_container col-xs-12">

                  <div class="prev_next">
                  </div>
        {% for image in item.print_carousel_2 %}
            {# You can get the raw image url by accessing image.url #}
            <div class="carousel_image col-xs-12"> 
            <img src="{{ image|imageSize(1200, 1200) }}">
          </div>
        {% endfor %}
    </div>

    <div class="textbreak">
        <p>
          {{ item.additional_assets_text_break }}
        </p>
    </div>

    <div class="videogrid clearfix col-xs-12">
          {% for row in item.other_asset_video_grid %}
              <div class="videogrid-responsive col-xs-6">
                <iframe src="https://player.vimeo.com/video/{{ row.video_url }}?byline=0&portrait=0" width="1200" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
          {% endfor %}
    </div>

      {% for row in item.other_assets_carousels %}
    <div class="carousel_container col-xs-12">

      <div class="prev_next">
      </div>

      {% for image in row.repeatable_carousels %}
          <div class="carousel_image col-xs-12">  
            <img src="{{ image|imageSize(1200, 1200) }}">
          </div>
      {% endfor %}
    </div>
      {% endfor %}
          
    <div class="postersingle col-xs-12">
      <img src="{{ item.other_assets_poster|imageSize(1200, 1200) }}" />
    </div>


    <div class="carousel_container col-xs-12">

                <div class="prev_next">
                </div>

        {% for image in item.other_assets_carousel_3 %}
            <div class="carousel_image col-xs-12"> 
              <img src="{{ image|imageSize(1200, 1200) }}">
            </div>
        {% endfor %}
    </div>

    <div class="projecttitle">
          <h1>
            Overview /
          </h1>
      </div>

    <div class="projectdescription">
        <p>
          {{ item.overview_text }}
        </p>
    </div>

</div>
{% endblock %}