{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH casestudies #}
{# This page can use any data from http:localhost:2000/cms/#/form/casestudies/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this casestudies's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}
<div id="contentcontainer">
  <p><a href="{{ url('casestudies') }}">View a list of all casestudies</a></p>
  <h1>{{ item.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ item.name }}
      </li>
      <div class="video col-xs-12">
        {{ item.herovideo|safe }}
      </div>

      <div class="carousel_container col-xs-12">

                    <div class="prev_next">
                    </div>
          {% for image in item.carousel_1 %}
              {# You can get the raw image url by accessing image.url #}
              <div class="carousel_image col-xs-12"> 
              <img src="{{ image|imageSize(1200, 1200) }}">
              {{ image.caption }}
            </div>
          {% endfor %}
      </div>

      
          {% for image in item.grid_1 %}
          <div class="imagehalf col-xs-6">
              <img src="{{ image|imageSize(1200, 1200) }}">
              <div>{{ image.caption }}</div>
          </div>
          {% endfor %}
      

      <div class="imagehalf col-xs-6">
        <img src="{{ item.poster_1|imageSize(1200, 1200) }}" />
      </div>

      <div class="imagehalf col-xs-6">
        <img src="{{ item.poster_2|imageSize(1200, 1200) }}" />
      </div>

      <div class="video col-xs-12">
        {{ item.video_2|safe }}
      </div>

      {% for image in item.grid_2 %}
        <div class="imagehalf col-xs-6">
          {# You can get the raw image url by accessing image.url #}
          <img src="{{ image|imageSize(1200, 1200) }}">
          <div>{{ image.caption }}</div>
        </div>
      {% endfor %}

      <div class="carousel_container col-xs-12">
          <div class="prev_next">
          </div>
          {% for image in item.carousel_2 %}
            <div class="carousel_image col-xs-12"> 
              <img src="{{ image|imageSize(1200, 1200) }}">
              <div>{{ image.caption }}</div>
            </div>
          {% endfor %}
      </div>

      <div class="postersingle col-xs-12">
        <img src="{{ item.heroimage_2|imageSize(1200, 1200) }}" />
      </div>

  
      {% for image in item.grid_3 %}
        <div class="imagehalf col-xs-6">
          
          <img src="{{ image|imageSize(1200, 1200) }}">
          <div>{{ image.caption }}</div>
        </div>
      {% endfor %}
      
      <div class="carousel_container col-xs-12">
          <div class="prev_next">
          </div>
          {% for image in item.carousel_3 %}
          <div class="carousel_image col-xs-12">
              <img src="{{ image|imageSize(1200, 1200) }}">
              <div>{{ image.caption }}</div>
          </div>
          {% endfor %}
      </div>


      {% for row in item.videogrid %}
        <div class="imagehalf col-xs-6">
                {{ row.wysiwyg_text|safe }}
        </div>
      {% endfor %}

      <div class="carousel_container col-xs-12">
          <div class="prev_next">
          </div>
          {% for image in item.carousel_4 %}
            <div class="carousel_image col-xs-12">
              <img src="{{ image|imageSize(1200, 1200) }}">
              <div>{{ image.caption }}</div>
            </div>
          {% endfor %}
      </div>

      <div class="carousel_container col-xs-12">
          <div class="prev_next">
          </div>
          {% for image in item.carousel_5 %}
            <div class="carousel_image col-xs-12">
              <img src="{{ image|imageSize(1200, 1200) }}">
              <div>{{ image.caption }}</div>
            </div>
          {% endfor %}
      </div>

      <div class="postersingle col-xs-12">
        <img src="{{ item.heroimage_3|imageSize(1200, 1200) }}" />
      </div>

      <div class="carousel_container col-xs-12">
          <div class="prev_next">
          </div>

          {% for image in item.carousel_6 %}
            <div class="carousel_image col-xs-12">
              <img src="{{ image|imageSize(1200, 1200) }}">
              <div>{{ image.caption }}</div>
            </div>
          {% endfor %}
</div>
{% endblock %}
