{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH videos #}
{# This page can use any data from http:localhost:2000/cms/#/form/videos/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this videos's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

<div id="videocontainer">  

  <div class="header">
    {% block header %}
      {% include "templates/partials/header.html" %}
    {% endblock %}
  </div>

    <div class="projecttitle">
          <h1>
            {{ item.name }}
          </h1>
        </div>

        <div class="projectdescription">
          <p>
            {{ item.description }}
          </p>
        </div>

    {% for row in item.video %}
        <div class="video-responsive col-xs-12">
          <iframe src="https://player.vimeo.com/video/{{ row.video_url }}?byline=0&portrait=0" width="1200" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    {% endfor %}
</div>

<style>
  #videocontainer{
        background-color: {{ cms.colors.maincontainer}};
      }

  #videocontainer{
        color: {{ cms.colors.text}};
      }
</style>
{% endblock %}