<!-- Search

{# Simple search form, remove from search index #}
<form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form>

-->

<div class="headercontainer clearfix">

	<div class="col-xs-3">
		<a href="/projects/all-projects">Be Good</a>
	</div>

	<div id="cstrigger" class="col-xs-2 col-xs-offset-1">
		<a href="/casestudies">
			<p>Case Studies</p>
		</a>
	</div>

	<div id="abouttrigger" class="col-xs-2 col-xs-offset-1">
		<a href="/about">
			<p>About</p>
		</a>
	</div>

	<div id="contacttrigger" class="col-xs-2 col-xs-offset-1">
		<a href="/contact">
			<p>Contact Us</p>
		</a>
	</div>
</div>

