<!-- Search

{# Simple search form, remove from search index #}
<form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form>

-->

<div class="headercontainer clearfix">
	<div class="headerlogo">
		<a href="/projects/all-projects">
			<img src="/static/images/begoodlogo.png">
		</a>
	</div>

	<div class="topnav" id="myTopnav">
		<div>
			<a href="javascript:void(0);" style="" class="icon" onclick="myFunction()">
				&#9776;
			</a>
		</div>

		<div class="mobilenavmargin">
			<div id="cstrigger">
				<a href="/casestudies">
					<span>Case Studies</span>
				</a>
			</div>

			<div id="abouttrigger">
				<a href="/about">
					<span>About</span>
				</a>
			</div>

			<div id="contacttrigger">
				<a href="/contact">
					<span>Contact Us</span>
				</a>
			</div>

<!--NAV COPY
	<div class="headerlogo col-xs-3">
		<a href="/projects/all-projects">
			<img src="/static/images/begoodlogo.png">
		</a>
	</div>

	<div class="topnav" id="myTopnav">
		<div>
			<a href="javascript:void(0);" style="font-size: 18px; position: fixed; right: 3%; top: 2%;" class="icon" onclick="myFunction()">
				&#9776;
			</a>
		</div>
			<div id="cstrigger" class="col-md-2 col-md-offset-1">
				<a href="/casestudies">
					<span>Case Studies</span>
				</a>
			</div>

			<div id="abouttrigger" class="mobilenavcenter col-md-2 col-md-offset-1">
				<a href="/about">
					<span>About</span>
				</a>
			</div>

			<div id="contacttrigger" class="mobilenavcenter col-md-2 col-md-offset-1">
				<a href="/contact">
					<span>Contact Us</span>
				</a>
			</div>
			-->
		</div>
	</div>
</div>

<style>
	.mobilenavmargin{
		padding-top:60%;
	}

	@media screen and (min-width: 425px){
		.mobilenavmargin{
			padding-top:45%;
		}
	}

	@media screen and (min-width: 1024px){
		.mobilenavmargin{
			padding-top:0%;
		}
	}
</style>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>