<!-- Search

{# Simple search form, remove from search index #}
<form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form>

-->


<div class="headercontainer">
	<div class="headerlogo">
		Be Good
	</div>

	<div class="headercontrols">
		<div class="header_caseStudies">
			<p>Case Studies</p>
		</div>

		<div class="header_about">
			<p>About</p>
		</div>

		<div class="header_contact">
			<p>Contact Us</p>
		</div>
	</div>
</div>
