{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH imagecarousel #}
{# This page can use any data from http:localhost:2000/cms/#/form/imagecarousel/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append this imagecarousel's name to the site title defined in base.html #}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

<div id="contentcontainer">
    <p><a href="{{ url('imagecarousel') }}">View a list of all imagecarousel</a></p>

        <li>
          <strong>Name: </strong>
          {{ item.name }}
        </li>

        <br>


          {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}

            {% for row in item.carousel %}
              <div class="carousel_container col-xs-12 col-lg-6">

                <div class="prev_next">
                  
                </div>

                  {% for image in row.gallery %}
                    <div class="carousel_image col-xs-12">   
                      <img src="{{ image|imageSize(1200, 1200) }}">
                      {{ image.caption }}
                    </div>    
                  {% endfor %}      
              </div>
            {% endfor %}
</div>

{% endblock %}

