{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH imagecarousel #}
{# This page can use any data from http:localhost:2000/cms/#/form/imagecarousel/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this imagecarousel's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <p><a href="{{ url('imagecarousel') }}">View a list of all imagecarousel</a></p>

      <li>
        <strong>Name: </strong>
        {{ item.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Publish Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.publish_date|date('F d Y') }}
      </li>


        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        

        <div class="sliderControls">
          <div class="previous">PREV</div>
          <div class="next">NEXT</div>
        </div>

        <div class="carousel_container row">
        {% for row in item.carousel %}                  
                    
                    {% for image in row.gallery %}
                    <div class="carousel_image col-xs-10 col-xs-offset-1">  
                            <img src="{{ image|imageSize(200, 200) }}">
                            {{ image.caption }}
                    </div>  
                    {% endfor %}
                    
        {% endfor %}
        </div>

        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


        <script type="text/javascript">
          $(document).ready(function(){
            $('.carousel_container').slick({
              arrows:false,
              adaptiveHeight:true,
            });

            $('.previous').click(function(){
              $('.carousel_container').slick('slickPrev');
            });

            $('.next').click(function(){
              $('.carousel_container').slick('slickNext');
            });
          });
        </script>





{% endblock %}
