/* BEGIN CSS RESET  */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}


	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/*END CSS RESET */

@font-face {
    font-family: suissebook;
    src: url(SuisseIntl-Book-WebM.woff);
    font-weight: normal;
}

@font-face {
    font-family: suissethin;
    src: url(SuisseIntl-Thin-WebM.woff);
    font-weight: normal;
}

html{
	font-size: 12px;

}
	/* menu collapse */
		@media only screen and (min-width: 1080px){
			html{
				font-size: 16px;
			}
		}


body {
	font-family: suissethin, sans-serif !important;
}

a {
	color:black;
	text-decoration: none;
}

a:hover {
	color:black;
	text-decoration: underline;
}

a:visited {
	color:black;
}

ul, li {
	list-style: none;
}

.unicode{
	height:70%;
	width:70%;
}



/* HEADER */

	.headercontainer{
		padding-top: 1%;
		padding-bottom:8.5%;	
		padding-left:2.5%;
		padding-right:2.5%;
		position: relative;
		z-index: 10;

		font-family: suissebook, sans-serif !important;
	}

	.headerlogo {
		display: inline-block;
		float:left;
	}

	/* projectlist HEADER */
		.header{

		}
	/* END projectlist HEADER */

/* END HEADER */



/*Projects List*/
	.projectcontainer{
		padding-left: 2.5%;
		padding-right: 2.5%;
	}

	#projectlist{
		text-align: center;
	}

	#projectlist a{
		font-size: 4rem;
		padding-right:2%;

		display: inline-block;
		text-decoration: none;
		color: #f05058;
	}

	#projectlist a:nth-child(odd) {
    	color: #6ec2dc;
	}

/*END Projects List*/

/*ABOUT*/
	.aboutcontainer{
		position: absolute;
		top:20vh;
		font-size: 1.6rem;
		color:white;
	}

	.aboutdescription{
		margin-bottom: 7%;
		font-size:1.3rem;
	}
 
	.aboutdescription p{
		width:90% !important;
	}

/*END ABOUT*/

/*CONTACT*/
	.contactcontainer{
		position: absolute;
		top:20vh;
		margin-left:-7.5%;
		color:white;
	}

	.contactemail{
		margin-bottom: 7%;
		word-wrap: break-word;

	}

	.contactaddress{
		word-wrap: break-word;

	}

/*END CONTACT*/

/*CASE STUDY*/
	.cslist{
		position: absolute;
		top:20vh;
		font-size: 1.6rem;
		color:white;
	}

	.cslist a:visited{
		color:white;
	}
/*END CASE STUDY*/


/*MainContainers*/
	#ec1{
		display: none;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		overflow: auto;
		z-index:100;

		background-color: black;
		opacity: 0;
	}

	#ec2{
		display: none;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		overflow: auto;

		background-color: black;
		opacity: 0;
	}

	#ec3{
		display: none;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		overflow: auto;

		background-color: black;
		opacity: 0;
	}

	#maincontainer{
		display: none;
		height:100%;
		padding-left: 5%;
		position:absolute;
		top:0;
		right:0;
		overflow: auto;

		background-color: #6ec2dc;
		color:white;

	}


	#contentcontainer{
		overflow: hidden;
		padding-top: 10%;


	}

		#maincontainer #contentcontainer{
			margin-left: -7.5%;
		}

	#contentcontainer a{
		color:white;
	}

	#aboutcontainer{
		display: none;
		height:100%;
		padding-left: 5%;
		position:absolute;
		top:0;
		right:0;
		overflow: auto;

		background-color: #f05058;

	}

	#contactcontainer{
		display: none;
		height:100%;
		padding-left: 8.5%;
		position:absolute;
		top:0;
		right:0;
		overflow: auto;

		background-color: black;
		color:white;

	}
/*END MainContainer*/

.carousel_container{
	margin:0 auto;
	float:left;
	overflow: hidden;
}

.prev_next{
	width:100%;
	position: absolute;
	z-index: 100;
	text-align: center;
}
	.prev_next a .left{
		float:left;
	}	

.carousel_image{
	margin: 0 auto;
	text-align: center;
}
	.carousel_image img{
		width:100%;
	}


/*TEMPLATES*/
		.video{
			margin:0 auto;
		}

		.videogrid{
			margin:0 auto;
		}

		.vgrid_single{
			width:50%;
			float:left;
		}

		.postersingle{
			margin: 0 auto;
			text-align: center;
		}

		.postersingle img{
			width:100%;
		}

		.imagehalf{
			margin: 0 auto;
			text-align: center
		}
			.imagehalf img{
				margin: 0 auto;
				width: 100%;
			}
/*END TEMPLATES*/
































