/* BEGIN CSS RESET  */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}


	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/*END CSS RESET */

@font-face {
    font-family: suissebook;
    src: url(SuisseIntl-Book-WebM.woff);
    font-weight: normal;
}

@font-face {
    font-family: suissethin;
    src: url(SuisseIntl-Thin-WebM.woff);
    font-weight: normal;
}

html{
	font-size: 12px;
}


body {
	font-family: suissethin, sans-serif !important;
}

a {
	color:black;
	text-decoration: none;
}

a:hover {
	color:black;
	text-decoration: underline;
}

a:visited {
	color:black;
}

ul, li {
	list-style: none;
}

.unicode{
	height:70%;
	width:70%;
}



/* HEADER */

	.headercontainer{
		padding-top: 1%;
		padding-bottom:8.5%;	
		padding-left:2.5%;
		padding-right:2.5%;
		position: relative;
		z-index: 10;
		font-size: .9rem;

		font-family: suissebook, sans-serif !important;
	}

	.headerlogo {
		display: inline-block;
		float:left;
		width:50px;
	}
		.headerlogo img{
			width:90px;
		}

	.navwhite{
 			background-color: white;
		}

/* END HEADER */



/*Projects List*/
	.projectcontainer{
		padding-left: 2.5%;
		padding-right: 2.5%;
	}

	#projectlist{
		text-align: center;
	}

	#projectlist a{
		font-size: 3.5rem;
		padding-right:2%;
		position: relative;

		display: inline-block;
		text-decoration: none;
		color: #f05058;
	}

	#projectlist a:hover{
		right:-10px;
	}

	#projectlist a:nth-child(odd) {
    	color: #6ec2dc;
	}

/*END Projects List*/

/*ABOUT*/
	.aboutcontainer{
		position: absolute;
		top:20vh;
		font-size: 1.6rem;
		color:white;
	}

	.aboutdescription{
		margin-bottom: 7%;
		font-size:1.3rem;
	}
 
	.aboutdescription p{
		width:90% !important;
	}

/*END ABOUT*/

/*CONTACT*/
	.contactcontainer{
		position: absolute;
		top:20vh;
		margin-left:-7.5%;
		color:white;
	}

	.contactemail{
		margin-bottom: 7%;
		word-wrap: break-word;

	}

	.contactaddress{
		word-wrap: break-word;

	}

/*END CONTACT*/

/*CASE STUDY*/
	.cslist{
		position: absolute;
		top:20vh;
		font-size: 1.6rem;
		color:white;
	}

	.cslist a{
		color:white;
	}

	.cslist a:visited{
		color:white;
	}
/*END CASE STUDY*/


/*MainContainers*/
	#ec1{
		display: none;
		height:100%;
		width:28.25%;
		position:absolute;
		top:0;
		left:0;
		overflow: auto;
		z-index:100;

		background-color: black;
		opacity: 0;
	}

	#ec2{
		display: none;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		overflow: auto;

		background-color: black;
		opacity: 0;
	}

	#ec3{
		display: none;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		overflow: auto;

		background-color: black;
		opacity: 0;
	}

	#maincontainer{
		display: none;
		height:100%;
		padding-left: 5%;
		position:absolute;
		top:0;
		right:0;
		overflow: auto;

		background-color: #6ec2dc;
	}


	#contentcontainer{
		overflow: hidden;
		padding-top: 10%;
	}

		#maincontainer #contentcontainer{
			margin-left: -7.5%;
		}

	#contentcontainer a{
		
	}

	#aboutcontainer{
		display: none;
		height:100%;
		padding-left: 5%;
		position:absolute;
		top:0;
		right:0;
		overflow: auto;

		background-color: #f05058;

	}

	#contactcontainer{
		display: none;
		height:100%;
		padding-left: 8.5%;
		position:absolute;
		top:0;
		right:0;
		overflow: auto;

		background-color: black;

	}
/*END MainContainer*/

/*Project Text*/
	.projecttitle{
		margin:0 auto;
		width:20%;
		padding-left: 8.25%;
		float:left;
		font-size: 1.4rem;

	}

	.projectdescription{
		float:left;
		width:50%;
		margin-left:20%;
		font-size: .9rem;
		margin-bottom: 6%
	}

	.textbreak{
		margin: 0 auto; 
	}

	.textbreak p{
		padding-left: 8.25%;
		padding-bottom: 2.5%;
		display:block;
	}


/*End Project Text*/

/*Carousels*/
	.carousel_container{
		margin:0 auto;
		float:left;
		overflow: hidden;
		margin-bottom: -.5%;
	}

	.prev_next{
		width:100%;
		z-index: 1;
		position: absolute;
	}

		.prev_next a:nth-child(1){
			float: left;
			text-align: left;
			padding-left: 3%;
			width:30%;
			font-size: 5.5rem;
			
		}

		.prev_next a:nth-child(2){
			float: right;
			text-align: right;
			padding-right:3%;
			width:40%;
			font-size: 5.5rem;
		}

	.carousel_image{
		margin: 0 auto;
		text-align: center;
	}
		.carousel_image img{
			width:100%;
		}
/*End Carousels*/

/*Videos*/


	.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
	}

	.video-responsive iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}

	.videogrid-responsive{
    overflow:hidden;
    padding-bottom:28.125%;
    position:relative;
    height:0;
	}

	.videogrid-responsive iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}

	.video-responsive-vertical{
    overflow:hidden;
    padding-bottom:89.25%;
    margin-bottom: -.5%;
    position:relative;
    height:0;
	}
	
	.video-responsive-vertical iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}

	.video-responsive-carousel{
    overflow:hidden;
    padding-bottom:11.25%;
    position:relative;
    height:0;
	}

	.video-responsive-carousel iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}
/*END Videos*/

/*TEMPLATES*/
	.video{
		margin:0 auto;
		margin-bottom: -.5%;
	}

	.videogrid{
		margin:0 auto;
	}

	.vgrid_single{
		width:50%;
		float:left;
	}

	.postersingle{
		margin: 0 auto;
		text-align: center;
		margin-bottom: -.5%;
	}

	.postersingle img{
		width:100%;
	}

	.imagehalf{
		margin: 0 auto;
		text-align: center;
		margin-bottom: -.5%;
	}
		.imagehalf img{
			margin: 0 auto;
			width: 100%;
		}
/*END TEMPLATES*/
































